* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  padding: 10px 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px;
  border-color: darkgray;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.navbar__logo {
  font-size: 20px;
  font-weight: bold;
}

.bottom-navbar__menu {
  display: flex;
  list-style: none;
  padding: 0px;
}

.bottom-navbar__menu-item {
  padding: 10px;
}

.bottom-navbar__menu-item img {
  width: auto;
}

.wrapper {
  max-width: 1200px;
}

.wrapper img {
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  background: #fff;
}

.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
.carousel img {
  height: 340px;
  object-fit: cover;
  margin-left: 14px;
  width: calc(100%/3);
}

.carousel img:first-child {
  margin-left: 0px;
}

.slider {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
}