* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background: rgb(249, 250, 255)
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  padding: 20px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px;
  border-color: darkgray;
  border-radius: 10px;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.navbar__logo {
  font-size: 20px;
  font-weight: bold;
}

.bottom-navbar__menu {
  display: flex;
  list-style: none;
  padding: 0px;
}

.bottom-navbar__menu-item {
  padding: 10px;
}

.bottom-navbar__menu-item img {
  width: auto;
}

.wrapper {
  max-width: 1200px;
  position: relative
}

.wrapper .arrow {
  top: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  /* transform: translateY(-50%); */
}

.wrapper .arrow:first-child {
  left: -23px;
  display: none;
}

.wrapper .arrow:last-child {
  right: -23px;
  display: block;
}

.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  padding-left: 14px;
  width: calc(100%/3);
}

.carousel img:first-child {
  padding-left: 0px;
}

.slider {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
}



@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100%/2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}